<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
>

    <bean id="taskJob" class="com.smallkk.common.task.AttendCheckTask"/>
    <!--quartz  任务调度框架-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--要执行哪一个类-->
        <property name="targetObject" ref="taskJob"/>
        <!--要执行哪一个方法-->
        <property name="targetMethod" value="checkAttend"/>
    </bean>
    <!--触发的时机和条件-->
    <bean id="attendCheck" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!--参考上面提到执行哪个类哪个方法的bean-->
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression">
            <value>0/30 * * * * ?</value>
        </property>
        <!-- 集群支持 Quartz有一套数据库表,还有个properties配置文件     这样就能够感知集群问题;多个tomcat的情况下一个执行了quartz,另一个就看情况执行-->
    </bean>
    <!--调度工厂-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--有很多的任务trigger-->
        <property name="triggers">
            <list>
                <ref bean="attendCheck"/>
            </list>
        </property>
    </bean>
</beans>