<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>小坤坤的个人学习</title>
    <link rel="stylesheet" href="/static/assets/css/loader-style.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static/assets/css/signin.css">
    <link rel="shortcut icon" href="/static/assets/ico/minus.png">
    <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/pnotify/jquery.pnotify.min.js"></script>
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<div class="container">
    <div class="" id="login-wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="logo-login">
                    <h2>Work-attendance<span>v1.3</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="account-box">
                    <form role="form" method="post" id="login_from" action="500.html">
                        <div class="form-group">
                            <label for="user">用户名</label>
                            <input type="text" id="user" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="pwd">密码</label>
                            <input type="password" id="pwd" class="form-control">
                        </div>
                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox" data-toggle="modal"
                                       data-target="#myModal">记住用户名</label>
                        </div>
                        <button id="submitId" class="btn btn btn-primary pull-right" type="button">登 录</button>
                    </form>
                    <hr>
                    <div class="row-block">
                        <div class="row">
                            <div class="col-md-12 row-block">
                                <a href="#" class="btn btn-primary btn-block">Create New Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="row-block">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div style="text-align:center;margin:0 auto;">
        <h6 style="color:#fff;">Copyright(C)2017 smallkk.com All Rights Reserved<br/>
            小坤坤的个人学习 版权所有 蜀ICP备17027347号</h6>
    </div>
    <div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">友情提示</h4>
                    </div>
                    <div class="modal-body">
                        点击了“记住用户名”;信息泄露我不负责
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $("#submitId").click(function () {
        var user = $("#user").val();
        var pwd = $("#pwd").val();
        var veryfiy = true;
        if (user == 0 && pwd == 0) {
            $.pnotify({
                title: 'New Thing',
                text: '请输入用户名和密码.',
                type: 'info'
            });
            veryfiy = false;
            return;
        }
        if (user == 0) {
            $.pnotify({
                title: 'New Thing',
                text: '请输入用户名.',
                type: 'error'
            });
            veryfiy = false;
        }
        if (pwd == 0) {
            $.pnotify({
                title: 'New Thing',
                text: '请输入密码.',
                type: 'error'
            });
            veryfiy = false;
        }
        if (veryfiy) {
            $("#login_from").submit();
        }
    })
</script>
